
<!DOCTYPE HTML>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=EUC-KR">
	<title>JBlog 블로그 메인</title>
	<Link rel="stylesheet" href="css/theme.css">
</head>
<body background="images/kubrickbgcolor.jpg">
<center>
	<table background="images/kubrickheader.jpg"
		 width="760" height="200" border="0" cellpadding="0" cellspacing="0">
      <tr>	<td height="60">&nbsp;</td></tr>
      <!-- 블로그 제목과 태그 시작 -->
      <tr>	<td height="60" class="blogtitle">J2EE 이야기</td></tr>
      <tr>	<td height="20" class="blogtag">자바, J2EE, 소프트웨어 엔지니어링</td></tr>
      <!-- 블로그 제목과 태그 끝 -->      
      <tr>	<td height="60">&nbsp;</td></tr>
    </table>
    <table background="images/kubrickbg.jpg" width="760" height="300" border="0" cellpadding="0" cellspacing="0">
      <tr><td height="10">&nbsp;</td></tr>
      <tr>
      	<td width="20">&nbsp;</td>
      	<td width="530" valign="top">
	      	<!-- 포스트 시작 --> 
	      	<table height="10" border="0" cellpadding="0" cellspacing="0">
	      		<tr><td class="posttitle">JavaOne 컨퍼런스가 열립니다.</td></tr>
	      		<tr><td class="postdate">2006/06/06</td></tr>
	      		<tr><td class="postcontent"> 6월 27일부터 30일까지 샌프란시스코 모스콘센터에서 2005 JavaOneSM 컨퍼런스가 열립니다. 
	      		심도깊은 강의와 실생활에서의 혁신, 공상적인 관점에 이르기까지 Java의 강력함을 발견할 수 있습니다. 
	      		컨퍼런스에 참가하셔서 Java 탄생 10주년을 축하해주세요. 또한, 전세계의 전문가들, 혁신자들과 의견을 
	      		교환할 수 있는 좋은 기회가 될 것입니다.</td></tr>
	      		<tr><td height="5">&nbsp;</td></tr>
	      		<tr><td class="postwriter">posted by 관리자 in J2EE, 덧글 1</td></tr>
	      		<tr><td height="5">&nbsp;</td></tr>
	      		<tr><td height="5">
		      		<!-- 덧글 보여주기 시작 -->
		      		<table height="20" border="0" cellpadding="0" cellspacing="0">
		      			<tr><td class="tdcontent">commented by 손님 at 2006/06/06</td></tr>
		      			<tr><td class="tdcontent">안녕하세요. 좋은글 고맙습니다.</td></tr>
		      		</table>
		      		<!-- 덧글 보여주기  끝 -->		      		
	      		</td></tr>
	      		<tr><td height="5">
		      		<!-- 새 덧글 시작 -->
		      		<table width="500" height="20" border="0" cellpadding="0" cellspacing="0">
		      			<tr><td height="5">&nbsp;</td></tr>
		      			<tr>
		      				<td width="120"><input class="inputtext" type="text" size="15" name="name"></td>
      						<td width="380" class="tdcontent">이름</td>      						
      					</tr>
		      			<tr><td colspan="10" class="tdcontent">
		      			<textarea name="content" class="inputtextarea" rows="2" cols="80"></textarea></td></tr>
		      			<tr><td height="5">&nbsp;</td></tr>
		      			<tr>
      						<td colspan="10" align="right">&nbsp;<input type="submit" value="덧글추가"></td>
      					</tr>
		      		</table>
		      		<!-- 새 덧글 끝 -->		      		
	      		</td></tr>	      		
	      		<tr><td height="5">&nbsp;</td></tr>
	      	</table>
	      	<!-- 포스트 끝-->      	
      	</td>
      	<td width="20">&nbsp;</td>
      	<td width="190" valign="top">
      	<!-- 로그인, 관리자 메뉴, 로고, 카테고리 시작 -->
      	<table cellpadding="0" cellspacing="0">
      		<tr><td>
      		<a href="#">로그인</a>&nbsp;&nbsp;<a href="#">블로그 관리</a></td></tr>
      		<tr><td height="5">&nbsp;</td></tr>
      		<tr><td><img height="80" src="images/j2eelogo.jpg" border="0"></td></tr>
      		<tr><td height="5">&nbsp;</td></tr>
      		<tr><td class="categorytitle">카테고리</td></tr>
      		<tr><td class="categoryitem"><a class="title" href="#">자바</a></td></tr>
      		<tr><td class="categoryitem"><a class="title" href="#">J2EE</a></td></tr>
      		<tr><td class="categoryitem"><a class="title" href="#">소프트웨어 엔지니어링</a></td></tr>
      		<tr><td class="categoryitem"><a class="title" href="#">미분류</a></td></tr>
      		<tr><td height="5">&nbsp;</td></tr>
      		<tr><td align="center"><img width="80" src="images/logo.jpg" border="0"></td></tr>
      	</table>
      	<!-- 로그인, 관리자 메뉴, 로고, 카테고리 끝 -->
      	</td>
      </tr>
    </table>
    <table background="images/kubrickfooter.jpg" width="760" height="63" border="0" cellpadding="0" cellspacing="0">
      <tr>
      	<td class="blogfooter">J2EE 이야기 is powered by JBlog</td>
      </tr>
	</table>
</center>
   	
</body>
</html>